Source: ros-kinetic-thormang3-mpc-sensors
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/thormang3_mpc_sensors
Standards-Version: 3.9.2

Package: ros-kinetic-thormang3-mpc-sensors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-thormang3-imu-3dm-gx4
Description: ROS packages for the thormang3_mpc_sensors (meta package)
